html,
body {
  margin: 0; /* Elimina márgenes por defecto del navegador */
  padding: 0;
  background: #065d85; /* Un color de fondo azul oscuro para la web */
  color: #ddd;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

#wrap {
  display: flex; /* Usamos flexbox para centrar el contenido fácilmente */
  justify-content: center; /* Centra el juego horizontalmente */
  align-items: flex-start; /* Alinea el juego a la parte superior */
  min-height: 100vh; /* Ocupa al menos el 100% del alto de la ventana */
  padding: 24px;
  box-sizing: border-box; /* El padding no aumenta el tamaño total del div */
}

#game {
  /* Añade una sombra bonita alrededor del canvas creado por Phaser para que destaque */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);
}

#HUD{
  display: none;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);
}

#txtPuntos{
  position: absolute;
  transform: translate(-50%);
  left: -300px;

  font-family: Silkscreen;
}

#intPuntos{
  position: absolute;
  transform: translate(-50%);
  left: -200px;

  font-family: Silkscreen;
}

#txtLineas{
  position: absolute;
  top: -30px;
  left: -309px;

  font-family: Silkscreen;
}

#intLineas{
  position: absolute;
  transform: translate(-50%);
  top: -30px;
  left: -200px;

  font-family: Silkscreen;
}

#txtNivel{
  position: absolute;
  transform: translate(-50%);
  top: -400px;
  left: -250px;

  font-family: Silkscreen;
}

#intNivel{
  position: absolute;
  transform: translate(-50%);
  top: -400px;
  left: -200px;

  font-family: Silkscreen;
}

#txtTimer{
  position: absolute;
  transform: translate(-50%);
  top: -370px;
  left: -254px;

  font-family: Silkscreen;
}

#minutos{
  position: absolute;
  transform: translate(-50%);
  top: -370px;
  left: -270px;

  font-family: Silkscreen;
}

#segundos{
  position: absolute;
  transform: translate(-50%);
  top: -370px;
  left: -238px;

  font-family: Silkscreen;
}